<footer
    class="bg-background dark:bg-background-dark prose dark:prose-invert max-w-none flex flex-col items-center justify-center w-full h-auto pt-10 pb-20">
    <div class="flex w-full flex-wrap justify-center"><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/about">About</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/people">People</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/upcoming-residencies-gatherings">Residencies</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/initiatives">Initiatives</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/ecosystem">Ecosystem</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/blog">Blog</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/podcast">Podcast</a><a
            class="inline-flex items-center mx-4 px-1 pt-1 font-regular hover:text-slate-300 no-underline"
            href="/contact">Contact</a></div>
    <p class="flex items-center justify-center">Created by<a href="https://lifeitself.org" target="_blank"
            rel="noopener noreferrer" class="flex items-center no-underline"><img
                src="{{asset 'images/life-itself-logo.svg'}}" alt="Life Itself" class="my-0 mx-1 h-6 block">Life Itself</a>
    </p>
    <p class="flex items-center justify-center">Made with<a href="https://flowershow.app/" target="_blank"
            rel="noopener noreferrer" class="flex items-center no-underline"><img
                src="https://flowershow.app/images/logo.svg" alt="Flowershow" class="my-0 h-6 block">Flowershow</a></p>
</footer>